@font-face {
    font-family: 'Titillium Web';
    font-weight: 300;
    src: url('../fonts/TitilliumWeb-Light.ttf');
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    src: url('../fonts/TitilliumWeb-Regular.ttf');
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 700;
    src: url('../fonts/TitilliumWeb-Bold.ttf');
}